@using CTP.Models.Maps
@model CTP.Models.ViewModels.EditWritingFormViewModel
@* Breadcrumbs used on the edit writing page *@

<div class="mdl-color-text--grey-500">
    <a href="/projects" title="Project Hub">Project Hub</a> &gt; 
    <a href="@ProjectMaps.GetUrl(Model.Project)" title="@Model.Project.Title">@Model.Project.Title</a> &gt; 
    <a href="/writing/@Model.Project.UrlName" title="My Writing">My Writing</a> &gt;
    <a href="@Model.Url" title="@Model.Title">@Model.Title</a> &gt; 
    <span>Edit</span>
</div>
