@using CTP.Models.Maps
@model CTP.Models.ViewModels.ContentItemPageViewModel
@* Breadcrumbs used on a content items page *@

<div class="mdl-color-text--grey-500">
    <a href="/projects" title="Project Hub">Project Hub</a> &gt; 
    <a href="@ProjectMaps.GetUrl(Model.Category.Project)" title="@Model.Category.Project.Title">@Model.Category.Project.Title</a> &gt; 
    <a href="@ProjectCategoryMaps.GetUrl(Model.Category)" title="@Model.Category.Title">@Model.Category.Title</a> &gt; 

    @foreach (var ci in Model.Ancestors)
    {
        // Text tag allows for MVC to not view the &gt; as code: https://weblogs.asp.net/scottgu/asp-net-mvc-3-razor-s-and-lt-text-gt-syntax
        <a href="@ci.Url" title="@ci.Title">@ci.Title</a><text> &gt; </text>
    }

    <span>@Model.Title</span>
</div>
